/*FUENTES*/
@font-face {
    font-family: "Rufina";
    src: url("../fonts/Rufina-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Rufina";
    src: url("../fonts/Rufina-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "PTserif";
    src: url("../fonts/PTSerif-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "PTserif";
    src: url("../fonts/PTSerif-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "PTserif";
    src: url("../fonts/PTSerif-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "PTserif";
    src: url("../fonts/PTSerif-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
:root{
    box-sizing:border-box;
}
*{
    margin: 0;
    padding: 0;
}
p{
    font-family: "PTserif";
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.8em;

}
strong{
    font-weight: 800;
}
em{
    font-style: italic;
    font-weight: 400;

}
body{
    font-size: 14px;
    background: #e8e4e1;
    color: #151e21;
}
h1{
    font-family: "Rufina";
    font-weight: 800;
    font-size: 1.9em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    letter-spacing: 0.07em;
    line-height: 1.1;
    text-transform: uppercase;
}
h2{
    font-family: "Rufina";
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.contenedor{
    background: whitesmoke;
    margin: 1em;
}
.contenedor main {
    margin: auto;
    padding: 1.5em;
    max-width: 1200px;

}
.contenedor img {
    display: block; /* Para convertir la imagen en un bloque */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    margin-bottom: 2em; /* Margen inferior */
    width: 60%;
    max-width: 100%; /* Ajustar imagen al ancho del contenedor */
}

.contenedor header{
    padding: 1.5em 1em 0 1em; ;
}
hr{
    margin: 1em 0;
    border: 1px solid #d6c6bb;
}

blockquote{
    font-family: "PTserif";
    font-style: bold;
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    text-align: right;
}

/*MEDIA QUERIES */

@media screen and ( max-width: 575.98px) {

}

/* Estilos para teléfonos móviles (landscape) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {

    h2 {
        padding-bottom: 0;
    }

    .contenedor header{
        padding: 0em 1em 0 1em;
    }
    
    .contenedor{
        margin: 1em;
        padding: 1.4em;
    }
    .contenedor img{
        float: right;
        margin-bottom: 2em;
        padding: 0 1em 1em 1em;
        width: 40%;
        display: block;
    }
    .contenedor main {
        margin-top: 2em;
    }

    
}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Estilos específicos para pantallas de 768px a 991px de ancho */
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.7em;
    }
    blockquote {
        font-size: 1.2em;
    }
    p {
    
    }
    .contenedor{
        margin: 2em;
        padding: 1.5em 2em;
    }
    .contenedor header{
        padding: 1.5em 1em 0 1em;
    }
    hr{
        margin: 1.5em ; 
    }
    .contenedor main {
        margin-top: 0;
        padding: 2.5em;
    }
    .contenedor img{
        float: right;
        margin-bottom: 2em;
        padding: 0 1.5em 1.5em 1.5em;
        width: 50%;
        display: block;
    }
   
}

/* Estilos para laptops/monitores pequeños */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    h1 {
        font-size: 2.5em;
        width: 500px;
    }
    h2 {
        font-size: 1.7em;
    }
    blockquote {
        font-size: 1.2em;
    }
    
 
    .contenedor{
        margin: 2em 12em;
        padding: 1.5em;

    }
    .contenedor header{
        padding: 1.5em 1em 0 1em;
    }
    hr{
        margin: 1.5em ; 
    }

    .contenedor main {
        margin-top: 0;
  
    
    }
    .contenedor img{
        float: right;
        margin-bottom: 2em;
        padding: 0 1.5em 1.5em 1.5em;
        width: 50%;
        display: block;
    }
    p {
        padding-bottom: 0;
    };
}

/* Estilos para monitores grandes/desktops */
@media screen and (min-width: 1200px) {

    h1 {
        font-size: 2.8em;
        width: 500px;
    }
    h2 {
        font-size: 2em;
    }
    blockquote {
        font-size: 1.2em;
        text-align: initial;
    }
    p {
        padding-bottom: 0;
    }

    .contenedor{
        margin: 2em 16em;
        padding: 3em;
    }
    .contenedor hr {
  
        margin: 5em 0;
    }
    .contenedor img{
        float: right;
        margin-bottom: 2em;
        padding: 0 1.5em 1.5em 1.5em;
        display: block;
        width: 60%;
    }
    
    
    
}
